<!DOCTYPE html>
<html>
<head>

  <script src="js/vue@2.3.3"></script>
  <script src="js/axios.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>Bobito's Bot</title>
</head>
<body>
<p>"Hello Word"</p>
</body>
</html>
